@media (max-width: 768px) {
    .page_summary {
        padding: 0rem 1rem 0rem 1rem;
    }
}

@media (max-width: 480px) {
    .page_summary {
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    ul {
        padding-left: 1.5rem;
    }
}

@media only screen and (max-width: 700px) {
}
