:root {
  transition: 1000ms all;
  --hue: 0;
  --color-bg: hsl(var(--hue), 0%, 100%);
  --color-text: hsl(var(--hue), 0%, 5%);
  --color-text-faint: hsl(var(--hue), 15%, 30%);
  --color-text-faint-hover: hsl(var(--hue), 0%, 5%);
  --color-link: hsl(var(--hue), 100%, 30%);
  --color-link-visited: hsl(var(--hue), 100%, 20%);
  --color-pre-bg: hsla(var(--hue), 70%, 98%);
  --color-block-bg: hsla(var(--hue), 70%, 94%);
  --color-block-bg-hover: hsla(var(--hue), 70%, 96%);
  --color-block-bg-faint: hsla(var(--hue), 70%, 99%);
  --color-block-bg-faint-hover: hsla(var(--hue), 70%, 97%);
  --color-block-border: hsla(var(--hue), 35%, 85%);
  --color-block-border-hover: hsla(var(--hue), 35%, 78%);
  --color-block-border-faint: hsla(var(--hue), 35%, 90%);
  --color-block-border-faint-hover: hsla(var(--hue), 35%, 87%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --hue: 30;
    --color-bg: hsl(var(--hue), 3%, 12%);
    --color-text: hsl(var(--hue), 0%, 90%);
    --color-text-faint: hsl(var(--hue), 0%, 70%);
    --color-text-faint-hover: hsl(var(--hue), 0%, 85%);
    --color-link: hsl(var(--hue), 70%, 70%);
    --color-link-visited: hsl(var(--hue), 80%, 45%);
    --color-pre-bg: hsla(var(--hue), 3%, 10%);
    --color-block-bg: hsla(var(--hue), 3%, 13%);
    --color-block-bg-hover: hsla(var(--hue), 3%, 15%);
    --color-block-bg-faint: hsla(var(--hue), 3%, 11%);
    --color-block-bg-faint-hover: hsla(var(--hue), 3%, 10%);
    --color-block-border: hsla(var(--hue), 2%, 8%);
    --color-block-border-hover: hsla(var(--hue), 2%, 2%);
    --color-block-border-faint: hsla(var(--hue), 2%, 10%);
    --color-block-border-faint-hover: hsla(var(--hue), 2%, 8%);
  }
}
