html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Cantarell", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  text-decoration: underline;
}

blockquote {
  color: var(--color-text-faint);
}

pre,
blockquote {
  overflow: auto;
  background-color: var(--color-pre-bg);
  border: 1px solid var(--color-block-border);
  padding: 1rem;
  box-sizing: border-box;
}

hr {
  opacity: 0.1;
}

header,
footer {
  padding: 0.6rem 0rem;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
}

header a {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

main {
  flex-grow: 1;
  margin: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
