.page_list_container {
  padding: 0;
}

.page_link_container_flex {
  display: flex;
  flex-direction: column;
}

.page_link_container_click_area {
  width: 100%;
  height: 100%;
}

.page_link_container {
  list-style-type: none;
  margin: 1rem 0rem;
  border: 1px solid var(--color-block-border);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: border 100ms, background-color 100ms;
  background-color: var(--color-block-bg-faint);
}

.page_link_container:hover {
  border: 1px solid var(--color-block-border-hover);
}

.page_link {
  display: flex;
  transition: background-color 100ms;
  background-color: var(--color-block-bg);
  padding: 0.5rem 1rem;
}

.page_link:hover {
  background-color: var(--color-block-bg-hover);
}

.page_continue_link {
  margin: 0 auto;
  transition: background-color 100ms;
  border-top: 1px dotted var(--color-block-border);
  text-align: center;
  padding: 0.1rem 0 0.3rem;
}

.page_summary {
  padding-left: 3rem;
  padding-right: 3rem;
}

.full_summary {
  padding-bottom: 2rem;
}
