{% import "macros.html" as macros %}
{%- block a %}{%- endblock a %}<!DOCTYPE html><html>
<head>
    <meta charset="utf-8"/>
    <link href="/style.css" rel="stylesheet"/>
    {%- if config.generate_rss %}
        <link href="{{ get_url(path="rss.xml") | safe }}" rel="alternate" title="RSS" type="application/rss+xml"/>
    {%- endif %}
    <title>
        {%- if page.title -%}
            {{ page.title }} - {{ config.title }}
        {%- elif section.title -%}
            {{ section.title }} - {{ config.title }}
        {%- else -%}
            {{ config.title }}
        {%- endif -%}
    </title>
</head>
<body>
    <header>
        {%- for navlink in config.extra.nav_left_links %}
            <a href="{{ navlink.path }}">{{ navlink.title }}</a>
        {%- endfor %}
        <div class="spacer"></div>
        {%- for navlink in config.extra.nav_right_links %}
            <a href="{{ navlink.path }}">{{ navlink.title }}</a>
        {%- endfor %}
    </header>
    <main>
        {%- if page %}
            {{ page.content | safe }}
        {%- elif section %}
            {{ section.content | safe }}
            {{ macros::pagelist(pages=section.pages, summary=true) }}
        {%- endif %}
        {%- if config.extra.debugprint %}
            <pre>{{ __tera_context | escape }}</pre>
        {%- endif %}
    </main>
    <footer></footer>
</body></html>
