{% macro pagelist_entry(page, summary=false) %}
    {%- if page.title -%}
        <li class="page_link_container">
            <a class="page_link_container_click" href="{{ page.path }}"></a>
            <div class="page_link_container_flex">
                <a class="page_link" href="{{ page.path }}">
                    <div class="page_title">{{ page.title }}</div>
                    {%- if page.date %}
                        <div class="spacer"></div>
                        <div class="page_date">{{ page.date }}</div>
                    {%- endif -%}
                </a>
                {%- if summary and page.summary or page.extra.full_article_in_summary -%}
                    {%- if page.extra.full_article_in_summary -%}
                        <div class="page_summary full_summary">
                            {{ page.content | safe }}
                        </div>
                    {%- else -%}
                        <div class="page_summary">
                            <div>
                                {{ page.summary | safe }}
                            </div>
                        </div>
                        <a href="{{ page.path }}#continue-reading">
                            <div class="page_continue_link">
                                More
                            </div>
                        </a>
                    {%- endif -%}
                {%- endif -%}
            </div>
        </li>
    {%- endif -%}
{% endmacro %}
{% macro pagelist(pages, summary=false, is_section=false) %}
    {%- if pages %}
        <ul class="page_list_container">
            {% for page in pages %}
                {%- if is_section %}
                    {% set page = get_section(path=page) %}
                {%- endif -%}
                {{ macros::pagelist_entry(page=page, summary=summary) }}
            {% endfor %}
        </ul>
    {%- endif %}
{% endmacro %}
